## **Análise e Pré-Processamento dos dados Encontrados**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import psycopg2

### **Dando uma olhada nos dados que temos**
Como parte de nossos dados não vem de um Kaggle mas sim de um repositório de webscraping, não tem muita documentação sobre ele, só um artigo não muito claro

OBS Gabriel: Para não ter chance de perder os dados e também para ter uma visualização melhor, coloquei parte deles num Banco de Dados no postgresSQL

In [13]:
df_womens_indv = pd.read_csv('C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/vnl-2021-2023/womens/df_womens_indv_21_23.csv')
df_womens_indv.head(5)

,Player_ID,Year,TeamA,TeamB,Serve_Points,Serve_Errors,Serve_Attempts,Total_Serves,Match_Date,Set_Successes,...,Block_Rebounds,Total_Blocks,Reception_Successful,Reception_Errors,Reception_Attemps,Total_Receptions,Dig_Success,Dig_Errors,Dig_Attempts,Total_Digs
0,160209,2021,Belgium,Canada,1,1,2,4,20/06/2021,2,...,1,2,0,0,0,0,1,0,1,2
1,160209,2021,Belgium,Italy,0,0,0,0,19/06/2021,0,...,0,0,0,0,0,0,0,0,0,0
2,160209,2021,Thailand,Belgium,0,0,0,0,18/06/2021,0,...,0,0,0,0,0,0,0,0,0,0
3,160209,2021,Belgium,Japan,0,0,0,0,14/06/2021,0,...,0,0,0,0,0,0,0,0,0,0
4,160209,2021,Türkiye,Belgium,0,0,0,0,13/06/2021,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_womens_rosters = pd.read_csv('C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/vnl-2021-2023/womens/df_womens_rosters_21_23.csv')
df_womens_rosters.head(5)

,No.,Player Name,Position,Player_ID,Year,Country_Name,Nationality,Age,Height,Total Points,Average by Match,Attack Points,Efficiency,Attack Avg Points,Block Points,Block Success,Block Avg Points,Serve Points,Serve Success,Serve Avg Points
0,2.0,Van Sas Elise,S,160209.0,2021,Belgium,Belgium,24.0,188,4,0.33,0,0.00%,0.00,3,60.00%,0.25,1,7.69%,0.08
1,3.0,Herbots Britt,OH,152042.0,2021,Belgium,Belgium,22.0,182,337,24.07,314,40.67%,22.43,12,12.63%,0.86,11,5.85%,0.79
2,4.0,Lemmens Nathalie,MB,135880.0,2021,Belgium,Belgium,27.0,192,15,1.07,8,30.77%,0.57,6,12.24%,0.43,1,1.75%,0.07
3,5.0,Guilliams Jodie,OH,156326.0,2021,Belgium,Belgium,24.0,180,86,5.73,73,27.97%,4.87,7,10.00%,0.47,6,3.95%,0.40
4,6.0,Gilson Helena,OH,181274.0,2021,Belgium,Belgium,22.0,184,9,0.69,9,16.36%,0.69,0,0.00%,0.00,0,0.00%,0.00

In [15]:
ncaa1 = pd.read_csv("C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/fivb-ncaa-2019/ncaa/combined/accumulated/0.2_ewm_combined.csv")
ncaa1.head(5)

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assists,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,9072019,USC Upstate,Ga. Southern,0,3.0,35.551166,20.493099,121.074250,0.108099,28.298429,...,0.178836,35.836066,4.770492,5.245902,42.262295,6.426230,2.344262,10.622951,1.000000,51.885246
1,9132019,USC Upstate,Norfolk St.,1,5.0,43.752741,24.064576,141.843054,0.127693,38.234803,...,0.043922,20.563449,3.680631,5.224044,31.847862,9.160291,0.542111,6.388412,1.585567,29.222829
2,9142019,USC Upstate,George Washington,0,3.0,40.447699,22.366826,134.671207,0.124883,36.255825,...,0.141006,33.978984,5.335225,5.122496,48.126593,5.123575,1.569444,9.990919,2.265290,41.880879
3,9142019,USC Upstate,East Carolina,0,5.0,44.502368,22.282087,142.370323,0.145469,41.047833,...,0.252765,43.878446,5.255106,7.337006,57.415052,4.597722,1.651628,11.112458,1.344410,52.392499
4,9172019,USC Upstate,N.C. A&T,1,4.0,47.302563,21.098593,139.374595,0.182334,43.053638,...,0.206337,37.983374,3.501979,7.324626,46.229735,4.748802,1.739479,8.819059,2.502358,52.597968

In [16]:
ncaa2 = pd.read_csv("C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/fivb-ncaa-2019/ncaa/combined/accumulated/10_sma_combined.csv")
ncaa2.head(5)

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assists,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,9072019,USC Upstate,Ga. Southern,0,3.0,33.400000,20.600000,117.000000,0.091800,27.000000,...,0.186333,35.000000,5.333333,5.000000,41.666667,6.000000,2.333333,10.000000,1.000000,51.000
1,9132019,USC Upstate,Norfolk St.,1,5.0,39.285714,22.857143,131.285714,0.109143,33.714286,...,0.040500,20.166667,3.000000,5.666667,30.666667,8.833333,0.333333,6.333333,1.166667,28.000
2,9142019,USC Upstate,George Washington,0,3.0,38.125000,22.125000,128.875000,0.110000,33.250000,...,0.162500,34.000000,5.625000,5.500000,48.750000,5.250000,1.500000,13.125000,2.625000,38.625
3,9142019,USC Upstate,East Carolina,0,5.0,40.333333,22.111111,133.222222,0.121556,35.888889,...,0.256375,45.750000,5.750000,7.625000,57.125000,4.875000,1.875000,10.250000,1.625000,45.375
4,9172019,USC Upstate,N.C. A&T,1,4.0,42.000000,21.600000,132.800000,0.140400,37.300000,...,0.157700,34.500000,2.500000,7.500000,45.200000,5.100000,1.500000,7.800000,2.000000,46.500

In [17]:
ncaa3= pd.read_csv("C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/fivb-ncaa-2019/ncaa/combined/accumulated/cma_combined.csv")
ncaa3.head()

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assists,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,9072019,USC Upstate,Ga. Southern,0,3.0,33.400000,20.600000,117.000000,0.091800,27.000000,...,0.186333,35.000000,5.333333,5.000000,41.666667,6.000000,2.333333,10.000000,1.000000,51.000
1,9132019,USC Upstate,Norfolk St.,1,5.0,39.285714,22.857143,131.285714,0.109143,33.714286,...,0.040500,20.166667,3.000000,5.666667,30.666667,8.833333,0.333333,6.333333,1.166667,28.000
2,9142019,USC Upstate,George Washington,0,3.0,38.125000,22.125000,128.875000,0.110000,33.250000,...,0.162500,34.000000,5.625000,5.500000,48.750000,5.250000,1.500000,13.125000,2.625000,38.625
3,9142019,USC Upstate,East Carolina,0,5.0,40.333333,22.111111,133.222222,0.121556,35.888889,...,0.256375,45.750000,5.750000,7.625000,57.125000,4.875000,1.875000,10.250000,1.625000,45.375
4,9172019,USC Upstate,N.C. A&T,1,4.0,42.000000,21.600000,132.800000,0.140400,37.300000,...,0.157700,34.500000,2.500000,7.500000,45.200000,5.100000,1.500000,7.800000,2.000000,46.500

In [18]:
ncaa4 = pd.read_csv("C:/Users/gabri/OneDrive/Documents/Faculdade/2024.2/Projeto de Ciência de Dados/volleyball-case-study/data/fivb-ncaa-2019/ncaa/combined/accumulated/team_v_team.csv")
ncaa4.head()

,Unnamed: 0,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,0,8302019,USC Upstate,Virginia Tech,0,4.0,33,21,112,0.107,...,0.234,48,13,12,51,4,4,20,2,0.0
1,1,8302019,USC Upstate,Northwestern,0,3.0,16,24,89,-0.090,...,0.349,41,6,7,42,1,2,20,0,0.0
2,2,9072019,USC Upstate,Ga. Southern,0,3.0,37,20,117,0.145,...,0.239,39,4,5,49,2,1,6,1,50.0
3,3,9132019,USC Upstate,Norfolk St.,1,5.0,50,27,164,0.140,...,0.114,47,11,15,67,9,1,17,1,70.5
4,4,9142019,USC Upstate,George Washington,0,3.0,30,17,112,0.116,...,0.216,44,3,1,60,2,1,6,6,52.0

### **Dataset escolhido para tratar por enquanto: ``0.2_ewm_combined.csv``**
* Coloquei o dataset num banco de dados para não ter chance de perdermos e porque eles são um tanto pesados de ficar abrindo, fechando e dando commit toda hora

* Não vi muita diferença entre os datasets ncaa1-ncaa4, muda um pouco as casas decimais dos dados mas nada demais

* Consiste basicamente de partidas de 2016 até 2019 entre times que são colocados nas posições de time A e time B, talvez haja repretição de dados nas colunas A e B

* Essa feature 'results' ta meio simplificada, em um outro csv tem essa 'results' com o valor de quantos sets ganhos 

**Explicação das colunas:**

Fonte das Explicações: https://wiaawi.org/Portals/0/PDF/Sports/Volleyball/vbstatspresentation.pdf#:~:text=What%20is%20hitting%20percentage?%20*%20Answer:%20(kills,Note%20that%20if%20a%20player%20has%20more

* **S**: quantos Sets tiveram no total

* **Team # Kills**: Quantos ataques não defendidos pelo time oposto, que diretamente resultam em ponto

* **Team # Errors**: Ataque que diretamente resulta em ponto para o time oposto, bola na rede por exemplo

* **Team # Total Attacks**: Total de ataques dos jogadores (kills-errors)/total

* **Team # Hit Pct**: (kills-errors)/total_attacks

* **Team # Assists**: Quando um jogador passe, prepara ou ""mancheteia" a bola para um parceiro de equipe que consegue uma Kill a partir disso

* **Team # Aces**: Um "Service Ace" é dado quando -> um saque que atinge a quadra intocada, que é tocada mas não continua no jogo, em que é dado violação ao time recebedor ou no caso do time recebedor estar fora de rotação

* **Team # SErr**: Um "Service Error" é dado quando -> um saque que não passa da rede, passa dos limites da quadra, pé do sacador fora de posição ou quando o time que está sacando está fora de rotação

* **Team # Digs**: Famosa manchete

* **Team # RErr**: Uma "Reception Error" é dada quando o time oposto marca uma pontuação, ela é atribuida a um jogador do time

* **Team # Block Solos**: bloqueio de um único jogador que diretamente leva a um ponto

* **Team # Block Assists**: quando a tentativa de bloqueio de mais de um jogador leva a um ponto

* **Team # BErr**: Quando a tentativa de bloqueio de uma bola diretamente resulta na parade de uma jogada e na pontuação do time oposto

* **Team # PTS**: Kills + Aces + Block Solos + 1/2 Block Assists

### Coletando o dataset do banco

In [2]:
import psycopg2
import pandas as pd

def sql_to_dataframe(conn, query):
    cursor = conn.cursor()
    try:
        cursor.execute(query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1

    # Fetching all rows from the query
    tuples_list = cursor.fetchall()

    # Getting column names from cursor.description
    colnames = [desc[0] for desc in cursor.description]

    cursor.close()

    # Creating DataFrame with data and column names
    df = pd.DataFrame(tuples_list, columns=colnames)
    return df

# Establishing the connection
conn = psycopg2.connect(
   database="proj_cdd", user='postgres', password='G@briel01_', host='127.0.0.1', port='5432'
)

query = '''SELECT * FROM ncaa_matches'''
df = sql_to_dataframe(conn, query)
conn.close()
df

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assistss,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,9072019,USC Upstate,Ga. Southern,0.0,3.0,35.551167,20.493100,121.07425,0.108099,28.298430,...,0.178836,35.836067,4.770492,5.245902,42.262295,6.426229,2.344262,10.622951,1.000000,51.885246
1,9132019,USC Upstate,Norfolk St.,1.0,5.0,43.752743,24.064577,141.84305,0.127693,38.234802,...,0.043922,20.563448,3.680631,5.224044,31.847862,9.160292,0.542111,6.388412,1.585567,29.222830
2,9142019,USC Upstate,George Washington,0.0,3.0,40.447700,22.366825,134.67120,0.124883,36.255825,...,0.141006,33.978985,5.335225,5.122496,48.126595,5.123575,1.569444,9.990919,2.265290,41.880880
3,9142019,USC Upstate,East Carolina,0.0,5.0,44.502370,22.282087,142.37033,0.145469,41.047832,...,0.252765,43.878445,5.255105,7.337006,57.415054,4.597722,1.651628,11.112458,1.344410,52.392498
4,9172019,USC Upstate,N.C. A&T,1.0,4.0,47.302563,21.098593,139.37459,0.182334,43.053640,...,0.206337,37.983376,3.501979,7.324626,46.229736,4.748802,1.739479,8.819059,2.502358,52.597970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36343,10302016,Elon,Delaware,0.0,4.0,52.068480,22.667542,151.78929,0.195280,49.280575,...,0.214455,43.228340,4.694954,7.022081,62.178734,4.846299,2.464929,9.859982,0.935988,59.973090
36344,11012016,Elon,N.C. Central,1.0,3.0,52.054787,20.934032,142.63142,0.227824,49.424458,...,0.139265,34.610004,4.141293,6.295251,45.693546,4.914710,1.848391,8.789527,1.411539,47.812626
36345,11052016,Elon,Col. of Charleston,0.0,3.0,49.443830,20.947226,139.10515,0.211060,46.539566,...,0.203561,54.272152,3.802664,3.706527,72.595406,4.696361,1.508979,12.068727,2.667400,69.307940
36346,11072016,Elon,UNCW,0.0,3.0,48.355064,22.357780,137.48412,0.193248,45.231655,...,0.194192,45.070465,4.881067,7.173171,66.237160,4.258402,1.309714,16.050100,2.477243,63.536240
36347,11112016,Elon,Hofstra,0.0,5.0,48.484050,25.286224,141.18729,0.169998,45.185320,...,0.194073,46.216090,5.100323,7.449591,51.017555,5.181144,1.506035,15.535681,1.982528,64.192894

### Pré-Processamento ``0.2_ewm_combined.csv``

#### Trocando Date para formato Datetime

In [10]:
def format_date(date):
    date_str = str(date)  # Converte o inteiro para string
    if len(date_str) == 7:  # Caso a data tenha 7 caracteres (mês ou dia com um único dígito)
        return pd.to_datetime(date_str, format='%m%d%Y')
    else:
        return pd.to_datetime(date_str, format='%m%d%Y')

# Aplicar a função de formatação às datas
df['Date'] = df['Date'].apply(format_date)
df

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assistss,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,2019-09-07,USC Upstate,Ga. Southern,0.0,3.0,35.551167,20.493100,121.07425,0.108099,28.298430,...,0.178836,35.836067,4.770492,5.245902,42.262295,6.426229,2.344262,10.622951,1.000000,51.885246
1,2019-09-13,USC Upstate,Norfolk St.,1.0,5.0,43.752743,24.064577,141.84305,0.127693,38.234802,...,0.043922,20.563448,3.680631,5.224044,31.847862,9.160292,0.542111,6.388412,1.585567,29.222830
2,2019-09-14,USC Upstate,George Washington,0.0,3.0,40.447700,22.366825,134.67120,0.124883,36.255825,...,0.141006,33.978985,5.335225,5.122496,48.126595,5.123575,1.569444,9.990919,2.265290,41.880880
3,2019-09-14,USC Upstate,East Carolina,0.0,5.0,44.502370,22.282087,142.37033,0.145469,41.047832,...,0.252765,43.878445,5.255105,7.337006,57.415054,4.597722,1.651628,11.112458,1.344410,52.392498
4,2019-09-17,USC Upstate,N.C. A&T,1.0,4.0,47.302563,21.098593,139.37459,0.182334,43.053640,...,0.206337,37.983376,3.501979,7.324626,46.229736,4.748802,1.739479,8.819059,2.502358,52.597970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36343,2016-10-30,Elon,Delaware,0.0,4.0,52.068480,22.667542,151.78929,0.195280,49.280575,...,0.214455,43.228340,4.694954,7.022081,62.178734,4.846299,2.464929,9.859982,0.935988,59.973090
36344,2016-11-01,Elon,N.C. Central,1.0,3.0,52.054787,20.934032,142.63142,0.227824,49.424458,...,0.139265,34.610004,4.141293,6.295251,45.693546,4.914710,1.848391,8.789527,1.411539,47.812626
36345,2016-11-05,Elon,Col. of Charleston,0.0,3.0,49.443830,20.947226,139.10515,0.211060,46.539566,...,0.203561,54.272152,3.802664,3.706527,72.595406,4.696361,1.508979,12.068727,2.667400,69.307940
36346,2016-11-07,Elon,UNCW,0.0,3.0,48.355064,22.357780,137.48412,0.193248,45.231655,...,0.194192,45.070465,4.881067,7.173171,66.237160,4.258402,1.309714,16.050100,2.477243,63.536240
36347,2016-11-11,Elon,Hofstra,0.0,5.0,48.484050,25.286224,141.18729,0.169998,45.185320,...,0.194073,46.216090,5.100323,7.449591,51.017555,5.181144,1.506035,15.535681,1.982528,64.192894

### **Verificando se existem dados ""invertidos"" no dataframe**
Existem registros duplicados da mesma partida apenas invertendo quem está como "Team A" e "Team B". Porém como esses dados foram tirados via webscraping e devem ter páginas diferentes para cada time como "Team A" existe uma inconsistência nos dados, o que pode trazer problemas no futuro **melhor retirá-los**.

In [12]:
caso_1=df[(df['TeamA']== 'USC Upstate') & (df['TeamB']=='Ga. Southern')]
caso_2 = df[(df['TeamB']== 'USC Upstate') & (df['TeamA']=='Ga. Southern')]

In [13]:
caso_1

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assistss,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,2019-09-07,USC Upstate,Ga. Southern,0.0,3.0,35.551167,20.493100,121.07425,0.108099,28.29843,...,0.178836,35.836067,4.770492,5.245902,42.262295,6.426229,2.344262,10.622951,1.000000,51.885246
30,2018-09-14,USC Upstate,Ga. Southern,0.0,4.0,44.638153,22.242092,138.65297,0.178152,41.70033,...,0.154400,39.184180,6.186606,6.323301,43.204960,6.646548,1.689064,16.623270,1.500698,58.453835

In [14]:
caso_2

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assistss,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
27051,2019-09-07,Ga. Southern,USC Upstate,1.0,3.0,40.319782,18.707317,107.77507,0.199217,36.90786,...,0.092474,25.460705,3.078591,5.772358,51.092140,7.214092,1.728997,11.436315,1.677507,24.390244
27082,2018-09-14,Ga. Southern,USC Upstate,1.0,4.0,45.613780,24.705494,131.33029,0.161922,41.14767,...,0.204946,41.375343,4.907176,8.161592,54.327858,5.307285,1.425520,9.582318,2.102239,55.415165

In [15]:
caso_2['Team A Kills']

27051    40.319782
27082    45.613780
Name: Team A Kills, dtype: float64

In [16]:
caso_1['Team B Kills']

0     39.459015
30    42.266530
Name: Team B Kills, dtype: float64

In [20]:
df = df.apply(lambda col: col.str.encode('utf-8').str.decode('utf-8') if col.dtype == 'object' else col)
df

,Date,TeamA,TeamB,Result,S,Team A Kills,Team A Errors,Team A Total Attacks,Team A Hit Pct,Team A Assistss,...,Team B Hit Pct,Team B Assists,Team B Aces,Team B SErr,Team B Digs,Team B RErr,Team B Block Solos,Team B Block Assists,Team B BErr,Team B PTS
0,2019-09-07,USC Upstate,Ga. Southern,0.0,3.0,35.551167,20.493100,121.07425,0.108099,28.298430,...,0.178836,35.836067,4.770492,5.245902,42.262295,6.426229,2.344262,10.622951,1.000000,51.885246
1,2019-09-13,USC Upstate,Norfolk St.,1.0,5.0,43.752743,24.064577,141.84305,0.127693,38.234802,...,0.043922,20.563448,3.680631,5.224044,31.847862,9.160292,0.542111,6.388412,1.585567,29.222830
2,2019-09-14,USC Upstate,George Washington,0.0,3.0,40.447700,22.366825,134.67120,0.124883,36.255825,...,0.141006,33.978985,5.335225,5.122496,48.126595,5.123575,1.569444,9.990919,2.265290,41.880880
3,2019-09-14,USC Upstate,East Carolina,0.0,5.0,44.502370,22.282087,142.37033,0.145469,41.047832,...,0.252765,43.878445,5.255105,7.337006,57.415054,4.597722,1.651628,11.112458,1.344410,52.392498
4,2019-09-17,USC Upstate,N.C. A&T,1.0,4.0,47.302563,21.098593,139.37459,0.182334,43.053640,...,0.206337,37.983376,3.501979,7.324626,46.229736,4.748802,1.739479,8.819059,2.502358,52.597970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36343,2016-10-30,Elon,Delaware,0.0,4.0,52.068480,22.667542,151.78929,0.195280,49.280575,...,0.214455,43.228340,4.694954,7.022081,62.178734,4.846299,2.464929,9.859982,0.935988,59.973090
36344,2016-11-01,Elon,N.C. Central,1.0,3.0,52.054787,20.934032,142.63142,0.227824,49.424458,...,0.139265,34.610004,4.141293,6.295251,45.693546,4.914710,1.848391,8.789527,1.411539,47.812626
36345,2016-11-05,Elon,Col. of Charleston,0.0,3.0,49.443830,20.947226,139.10515,0.211060,46.539566,...,0.203561,54.272152,3.802664,3.706527,72.595406,4.696361,1.508979,12.068727,2.667400,69.307940
36346,2016-11-07,Elon,UNCW,0.0,3.0,48.355064,22.357780,137.48412,0.193248,45.231655,...,0.194192,45.070465,4.881067,7.173171,66.237160,4.258402,1.309714,16.050100,2.477243,63.536240
36347,2016-11-11,Elon,Hofstra,0.0,5.0,48.484050,25.286224,141.18729,0.169998,45.185320,...,0.194073,46.216090,5.100323,7.449591,51.017555,5.181144,1.506035,15.535681,1.982528,64.192894

### Upload das alterações para o Banco

In [20]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://postgres:G@briel01_@localhost:5432/proj-cdd')

In [ ]:
df.to_sql(
    name="test", # table name
    con=engine,  # engine
    if_exists="append", #  If the table already exists, append
    index=False # no index
)